<div class="jumbotron">
    <h1>CPA02: Gif Collection </h1>
</div>

<p class="p-3 m-3 border border-primary bg-light">
    Welcome! The goal of this app is to utilize the Giphy API in order to allow users
    to search for gifs that they enjoy and add it to their personal collections, which
    are then displayed on the user profile. You must login/signup to add and view gifs.
</p>

<a class="nav-link" href="/login">Login/Signup</a>


