<h1> <%= username %>'s Profile </h1>

<form method="post" action="/gifs/search">
    GIF Search <br>
    <input type="text" name="q" placeholder="e.g. Computers">
    <input type="submit">
</form>

<h1><%= username %>'s Gifs</h1>
